# sdkconfig.defaults — committé dans git, pas de credentials ici
CONFIG_WIFI_SSID=""
CONFIG_WIFI_PASSWORD=""
CONFIG_MQTT_BROKER_URL="placeholder.hivemq.cloud"
CONFIG_MQTT_BROKER_PORT=8883
CONFIG_MQTT_USERNAME=""
CONFIG_MQTT_PASSWORD=""
CONFIG_SLEEP_DURATION_SEC=10

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="32MB"
